<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBD8JD8_8FGP4_7Eis4D9RAAv1s01R3niw</string>
	<key>GCM_SENDER_ID</key>
	<string>156154699552</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.tarot.app.prod</string>
	<key>PROJECT_ID</key>
	<string>tarot-band-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>tarot-band-prod.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:156154699552:ios:cb669f1ba7d070c32b0145</string>
</dict>
</plist>